<div class="container">
 <div class="row">
 <p>チーム検索</p>
  <%= form_tag(search_users_path, method: "get") do %>
  <%= label :category, 'カテゴリ' %>
  <%= collection_select :category, :category_id, Category.all, :id, :category, {:class => 'form-control'}%>
  <%= label :area_id, '地域' %>
  <%= collection_select :area, :area_id, Area.all, :id, :name, {:class => 'form-control'}%>
  <%= submit_tag "検索" %>
  <% end %>
  
    <div class="container">
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-12">
            <div class="game-index-single">
              <h2 class="game-author">
              <%= user.teamname %>
              <%= user.name %>
              <%= user.area.name %>
              </h2>
             </div>
          </div>
        </div>
      <% end %>
    </div>
 </div>
</div>