<html>
<div class="titile-box">
  <h1 class="page-title text-center">マイページ</h1>
  
  <div class="card container" style="width: 20rem;">
            <h4 class="card-title"><b>チーム名</b> <%= @user.teamname %></h4>
            <p class="card-text"><b>代表者名</b> <%= @user.name %></p>
            <p class="card-text"><b>地域</b> <%= @user.area.name %></p>
        <%= link_to '編集', edit_user_path %>
  </div>
  <div class="card container" style="width: 50rem;">
    <div class="card-body ">
    <h5 class="card-title text-center"><font size="7">対戦募集</font></h5>
     <%= form_for @game do |f| %>
     <%= f.datetime_select :start_at %>
       <div class="form-group">
        <%= f.label :カテゴリ %>
        <%= f.collection_select :category_id, Category.all, :id, :category , class: 'form-control'%>
          <div class="form-group">
            <%= f.label :球場 %>
            <%= f.collection_select :stadium_id, Stadium.all, :id, :name , class: 'form-control'%>
            <div>
              <%= f.label :コメント %>
              <%= f.text_area :comment, class: 'form-control' %>　<div>
               <%= f.submit '募集', class: 'game-block' %>
                <% end %>
            </div>      
          </div>
       </div>
    </div> 
  </div>
</div>
<%= link_to logout_path, method: :delete do %>
ログアウト
<% end %>
            

</html>

