<!DOCTYPE html>
<html>
  <head>
    <title>BaseballMake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <ul class="col-sm-3">
        <%= link_to root_path do %>
          <span><%= image_tag "icons/sports_baseball_man_asia.png", class: "navbar-brand" %></span>
        <% end %>
      </ul>
      <ul class="col-sm-9">
        
      </ul>
    </nav>
  </header>
            </li>
          
        </ul>
      </div>
    </nav>
   <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <%= yield %>
    <script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
  </body>
</html>
